<!-- views/pad.ejs -->

<!DOCTYPE html>
<html>
<head>
    <title>Zeitgeist Chatroom</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <link href="style.css" rel="stylesheet">
</head>

<body class="container-fluid">

    <section class="row">
        <textarea class="col-md-6 full-height" id="pad">
####  A pomo chat room


- Type your [Markdown](https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet) into the box on the left and see it converted on the right.

- Type your room name after the dash in the URL, and discover a way to quickly chat with friends.

`(secretchat.herokuapp.com/whatever!)`

- Collaborate and chat with friends in an agreed upon room. No sign-up needed.

- Wander into other rooms, and chat with strangers and . . . new friends?


- Careful. Anything deleted is **gone forever**.

       </textarea>
        <div class="col-md-6 full-height" id="markdown"></div>
    </section>

    <script src="https://cdn.rawgit.com/showdownjs/showdown/1.0.2/dist/showdown.min.js"></script>
    <script src="/channel/bcsocket.js"></script>
    <script src="/share/share.uncompressed.js"></script>
    <script src="/share/textarea.js"></script>
    <script src="script.js"></script>

</body>
</html>
